header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1f1f1f;
    nav {
        ul{
            display: flex;
            justify-content: center;
            gap: 10px;
            li{
                a {
                    color: red;
                    font-size: 20px;
                }
            }
        }
    }
}